.heading {
    color: black;
    font-size: 25px;
}

.card {
    text-align: center;
    border: 0px solid;
    height: 100vh;
    background-size: cover;
    background-color: #f6f5fc;
    border-radius: 10px;
    height: 50vh;
    padding: 50px;
    margin-bottom: 10px
}

.bg-container {

    margin: 20px;
    height: 70vh;
    padding: 50px;
}